2.藍芽智慧刀把/node-red/pythonauto.json
[{"id":"7e627f5a.ef248","type":"inject","z":"cacf5ab.4feb3a8","name":"","topic":"line1","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":60,"wires":[["53073f8d.c5682","5a524489.62f06c","7e0c1497.60a14c","bb96b06d.af488"]]},{"id":"53073f8d.c5682","type":"file in","z":"cacf5ab.4feb3a8","name":"","filename":"D:\\Spyder_StrainGauge_Data\\DT_01.csv","format":"lines","chunk":false,"sendError":false,"x":460,"y":20,"wires":[["f39b9565.fb23a8"]]},{"id":"6312ddd3.1e4564","type":"ui_template","z":"cacf5ab.4feb3a8","group":"96a3b49e.d47768","name":"分佈圖","order":1,"width":"21","height":"5","format":"<!doctype html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <style>\n      .scrollable {\n        border:1px #666666;\n        width:1000px;\n        height:200px;\n      }\n\n      .items{\n        width: 1000px;\n        border:1px #666666;\n      }\n    </style>\n  </head>\n\n  <body>\n\n    <div class=\"scrollable\">\n      <div class=\"items\">    \n      <img src=\"/001.jpg\" height=\"170\" width=\"170\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; \n      <img src=\"/002.jpg\" height=\"170\" width=\"170\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      <img src=\"/003.jpg\" height=\"170\" width=\"170\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      <img src=\"/004.jpg\" height=\"170\" width=\"170\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      <img src=\"/005.jpg\" height=\"170\" width=\"170\"><br>\n      {{msg.payload.time1}}  &nbsp; &nbsp; &nbsp;\n      {{msg.payload.time2}}  &nbsp; &nbsp; &nbsp;\n      {{msg.payload.time3}}  &nbsp; &nbsp; &nbsp; \n      {{msg.payload.time4}}  &nbsp; &nbsp; &nbsp; \n      {{msg.payload.time5}}  &nbsp; &nbsp; &nbsp;\n      </div>\n    </div>\n  </body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":491.0000629425049,"y":415.00006103515625,"wires":[[]]},{"id":"f39b9565.fb23a8","type":"delay","z":"cacf5ab.4feb3a8","name":"","pauseType":"rate","timeout":"35","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":747.1000843048096,"y":19.200035095214844,"wires":[[]]},{"id":"5a524489.62f06c","type":"file in","z":"cacf5ab.4feb3a8","name":"","filename":"D:\\Spyder_StrainGauge_Data\\DT_02.csv","format":"lines","chunk":false,"sendError":false,"x":460.00001525878906,"y":70.00001239776611,"wires":[["6dcef16d.afa88"]]},{"id":"6dcef16d.afa88","type":"delay","z":"cacf5ab.4feb3a8","name":"","pauseType":"rate","timeout":"35","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":747.9999885559082,"y":70.00001239776611,"wires":[[]]},{"id":"8d1a0c92.8ed13","type":"ui_template","z":"cacf5ab.4feb3a8","group":"473e8dc0.0414b4","name":"TMV1","order":1,"width":"4","height":"13","format":"<div>\n   \n   \n<a >\n  <img src=\"/tmv1.jpg\" height=\"250\" width=\"180\">\n</a>\n<font size=3 color=\"white\" >\n    \n機台型號: TMV-720 <br>\n刀徑: 10 mm<br>\n刃長: 25 mm<br>\n全長: 75 mm<br>\n進給率: 180 mm/min<br>\n主軸轉速: 2000 rpm<br>\n工件材料: 鋁合金\n<a >\n<Br>\n<Br>\n<Br>\n  <img src=\"/{{msg.payload}}.jpg\" height=\"150\" width=\"170\">\n</a>\n\n</font>    \n\n    \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":500,"wires":[[]]},{"id":"7e0c1497.60a14c","type":"file in","z":"cacf5ab.4feb3a8","name":"","filename":"D:\\Spyder_StrainGauge_Data\\DT_03.csv","format":"lines","chunk":false,"sendError":false,"x":461,"y":118.00001335144043,"wires":[["ecda3960.1aa858"]]},{"id":"bb96b06d.af488","type":"file in","z":"cacf5ab.4feb3a8","name":"","filename":"D:\\Spyder_StrainGauge_Data\\DT_04.csv","format":"lines","chunk":false,"sendError":false,"x":464.0000305175781,"y":167.00003957748413,"wires":[["fbf91468.795eb8"]]},{"id":"ecda3960.1aa858","type":"delay","z":"cacf5ab.4feb3a8","name":"","pauseType":"rate","timeout":"35","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":747.9999866485596,"y":117.00001382827759,"wires":[[]]},{"id":"fbf91468.795eb8","type":"delay","z":"cacf5ab.4feb3a8","name":"","pauseType":"rate","timeout":"35","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":749.9999866485596,"y":166.0000400543213,"wires":[[]]},{"id":"e17d24fa.f6f858","type":"tcp in","z":"cacf5ab.4feb3a8","name":"","server":"server","host":"127.0.0.1","port":"10000","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":470,"y":340,"wires":[["eba7feb2.bad2a"]]},{"id":"96ab41d5.a4308","type":"delay","z":"cacf5ab.4feb3a8","name":"","pauseType":"rate","timeout":"35","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":340,"wires":[[]]},{"id":"eba7feb2.bad2a","type":"split","z":"cacf5ab.4feb3a8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":649.1000671386719,"y":340.20001125335693,"wires":[["96ab41d5.a4308"]]},{"id":"4284c40a.d3d6ec","type":"function","z":"cacf5ab.4feb3a8","name":"","func":"if (msg.payload >= 0.00576){\n    var msg2 = {payload:\"fail\"}\n    return [msg2];\n}","outputs":1,"noerr":0,"x":1424.9999923706055,"y":547.0000066757202,"wires":[[]]},{"id":"b413767b.5ac4e8","type":"ui_template","z":"cacf5ab.4feb3a8","group":"96a3b49e.d47768","name":"燈號1","order":0,"width":"5","height":"3","format":"<div>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src=\"/{{msg.payload}}.png\" height=\"70\" width=\"70\">&nbsp;&nbsp;\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":540,"wires":[[]]},{"id":"4f8fdc40.b4be94","type":"function","z":"cacf5ab.4feb3a8","name":"","func":"if (msg.payload.std1 >= 7)\n{\n    var msg1 = {payload:\"fail\"};\n    return [msg1];\n}\n    else{\n    var msg1 = {payload:\"success\"};\n    return [msg1];\n    }\nif(msg.payload.std2 >= 7)\n{\n    var msg2 = {payload:\"fail\"};\n    return [msg2];\n}\n else{\n    var msg2 = {payload:\"success\"};\n    return [msg2];\n    }\n \n \nif(msg.payload.std3 >= 7) \n{\n    var msg3 = {payload:\"fail\"};\n    return [msg3];\n}\n else{\n    var msg3 = {payload:\"success\"};\n    return [msg3];\n    }\n \nif(msg.payload.std4 >= 7)\n{\n    var msg4 = {payload:\"fail\"};\n    return [msg4];\n}\n else{\n    var msg4 = {payload:\"success\"};\n    return [msg4];\n    }","outputs":1,"noerr":0,"x":90,"y":660,"wires":[[]]},{"id":"7cff3862.2bdab8","type":"ui_template","z":"cacf5ab.4feb3a8","group":"96a3b49e.d47768","name":"標準差","order":1,"width":"21","height":"5","format":"<!doctype html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <style>\n      .scrollable {\n        border:1px #666666;\n        width:1000px;\n        height:250px;\n      }\n\n      .items{\n        width: 1000px;\n        border:1px #666666;\n      }\n    </style>\n  </head>\n    \n  <body>\n<a>標準差</a>\n    <div class=\"scrollable\">\n      <div class=\"items\">    \n      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一刃&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二刃&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三刃&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第四刃\n      <Br>\n      <img src=\"/std_1.jpg\" height=\"200\" width=\"200\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   \n      <img src=\"/std_2.jpg\" height=\"200\" width=\"200\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      <img src=\"/std_3.jpg\" height=\"200\" width=\"200\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      <img src=\"/std_4.jpg\" height=\"200\" width=\"200\">\n\n      </div>\n    </div>\n  </body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":492.00006103515625,"y":454.00006103515625,"wires":[[]]},{"id":"a6f235a4.abdcd8","type":"json","z":"cacf5ab.4feb3a8","name":"","pretty":false,"x":269.1000061035156,"y":393.4000358581543,"wires":[["6312ddd3.1e4564","7cff3862.2bdab8","718b7c08.bed5d4"]]},{"id":"d844473a.756388","type":"mqtt in","z":"cacf5ab.4feb3a8","name":"","topic":"mislab/mqtt/std","qos":"2","broker":"43e41fec.79bad","x":85,"y":543.0000171661377,"wires":[["a866e4b6.aa3498"]]},{"id":"a866e4b6.aa3498","type":"json","z":"cacf5ab.4feb3a8","name":"","pretty":false,"x":250,"y":560,"wires":[["645c92b0.bc55bc","ef3feac3.42a8b8","1163c7b6.080798","537e46c9.019148","d76451ae.0a6a8","7bf84473.dc8b7c"]]},{"id":"dc3ef432.bfcec8","type":"ui_template","z":"cacf5ab.4feb3a8","group":"96a3b49e.d47768","name":"燈號2","order":0,"width":"4","height":"3","format":"<div>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src=\"/{{msg.payload}}.png\" height=\"70\" width=\"70\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":580,"wires":[[]]},{"id":"3477e0d3.9d482","type":"ui_template","z":"cacf5ab.4feb3a8","group":"96a3b49e.d47768","name":"燈號3","order":0,"width":"4","height":"3","format":"<div>\n &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"/{{msg.payload}}.png\" height=\"70\" width=\"70\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":620,"wires":[[]]},{"id":"83f5ceaf.ff682","type":"ui_template","z":"cacf5ab.4feb3a8","group":"96a3b49e.d47768","name":"燈號4","order":0,"width":"4","height":"3","format":"<div>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"/{{msg.payload}}.png\" height=\"70\" width=\"70\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":660,"wires":[[]]},{"id":"95129f17.85b2f","type":"function","z":"cacf5ab.4feb3a8","name":"","func":"if (msg.payload.std1>7 || msg.payload.std2 >7 ||msg.payload.std3>7 || msg.payload.std4 >7)\n{\n    var msg5={payload:\"error\"};\n}return[msg5];\n","outputs":1,"noerr":0,"x":90,"y":700,"wires":[[]]},{"id":"645c92b0.bc55bc","type":"function","z":"cacf5ab.4feb3a8","name":"s1","func":"var a1=msg.payload.std1/msg.payload.std2\nvar a2=msg.payload.std1/msg.payload.std3\nvar a3=msg.payload.std1/msg.payload.std4\nvar t=2.5\nvar rms1=msg.payload.rms1\nif(msg.payload)\nif(a1>t||a2>t||a3>t||rms1>0.000015 ){\n    msg.payload=\"fail\"\n}else{\n    msg.payload=\"success\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["b413767b.5ac4e8"]]},{"id":"1163c7b6.080798","type":"function","z":"cacf5ab.4feb3a8","name":"s3","func":"var a1=msg.payload.std3/msg.payload.std2\nvar a2=msg.payload.std3/msg.payload.std1\nvar a3=msg.payload.std3/msg.payload.std4\nvar t=2.5\nvar rms3=msg.payload.rms3\nif(a1>t||a2>t||a3>t||rms3>0.000015){\n    msg.payload=\"fail\"\n}else{\n    msg.payload=\"success\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":620,"wires":[["3477e0d3.9d482"]]},{"id":"ef3feac3.42a8b8","type":"function","z":"cacf5ab.4feb3a8","name":"s2","func":"var a1=msg.payload.std2/msg.payload.std1\nvar a2=msg.payload.std2/msg.payload.std3\nvar a3=msg.payload.std2/msg.payload.std4\nvar t=2.5\nvar rms2=msg.payload.rms2\nif(a1>t||a2>t||a3>t||rms2>0.000015){\n    msg.payload=\"fail\"\n}else{\n    msg.payload=\"success\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":580,"wires":[["dc3ef432.bfcec8"]]},{"id":"537e46c9.019148","type":"function","z":"cacf5ab.4feb3a8","name":"s4","func":"var a1=msg.payload.std4/msg.payload.std2\nvar a2=msg.payload.std4/msg.payload.std3\nvar a3=msg.payload.std4/msg.payload.std1\n//msg.payload=a3;\nvar t=2.5\nvar rms4=msg.payload.rms4\nif(a1>t||a2>t||a3>t||rms4>0.000015){\n    msg.payload=\"fail\"\n}else{\n    msg.payload=\"success\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":660,"wires":[["83f5ceaf.ff682"]]},{"id":"abc57672.8e4f28","type":"function","z":"cacf5ab.4feb3a8","name":"global","func":"\nglobal.set(\"a12\",\"a13\",\"a14\",\n           \"a21\",\"a23\",\"a24\",\n           \"a31\",\"a32\",\"a34\",\n           \"a41\",\"a42\",\"a43\")\nglobal.set (\"t\",3)","outputs":1,"noerr":0,"x":107.07638549804688,"y":443.79515838623047,"wires":[[]]},{"id":"e01fd42.50db928","type":"debug","z":"cacf5ab.4feb3a8","name":"","active":true,"console":"false","complete":"false","x":790.0000228881836,"y":729.000020980835,"wires":[]},{"id":"7bf84473.dc8b7c","type":"function","z":"cacf5ab.4feb3a8","name":"s_all1","func":"var rms1=msg.payload.rms1\nvar rms2=msg.payload.rms2\nvar rms3=msg.payload.rms3\nvar rms4=msg.payload.rms4\nvar a11=msg.payload.std2/msg.payload.std1\nvar a12=msg.payload.std2/msg.payload.std3\nvar a13=msg.payload.std2/msg.payload.std4\nvar a21=msg.payload.std2/msg.payload.std1\nvar a22=msg.payload.std2/msg.payload.std3\nvar a23=msg.payload.std2/msg.payload.std4\nvar a31=msg.payload.std3/msg.payload.std2\nvar a32=msg.payload.std3/msg.payload.std1\nvar a33=msg.payload.std3/msg.payload.std4\nvar a41=msg.payload.std4/msg.payload.std2\nvar a42=msg.payload.std4/msg.payload.std3\nvar a43=msg.payload.std4/msg.payload.std1\nvar t=2.5\nif(a11>t||a12>t||a13>t||a21>t||a22>t||a23>t||a31>t||a32>t||a33>t||a41>t||a42>t||a43>t||rms1>0.000015||rms2>0.000015||rms3>0.000015||rms4>0.000015){\n    msg.payload=\"error\"\n    \n}else{\n    msg.payload=\"success\";\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["8d1a0c92.8ed13","e01fd42.50db928"]]},{"id":"d76451ae.0a6a8","type":"debug","z":"cacf5ab.4feb3a8","name":"","active":true,"console":"false","complete":"payload","x":832.0000228881836,"y":238.00001335144043,"wires":[]},{"id":"196dbd57.285fb3","type":"debug","z":"cacf5ab.4feb3a8","name":"","active":true,"console":"false","complete":"true","x":648.8369903564453,"y":1258.3508729934692,"wires":[]},{"id":"307f727a.f251fe","type":"function","z":"cacf5ab.4feb3a8","name":"","func":"var objResponse = context.flow.WriteR(\"TMV-720A\",\"R300\", \"1\");\n\nreturn objResponse;","outputs":1,"noerr":0,"x":288.8369903564453,"y":1258.3508729934692,"wires":[["8a2f1364.56034"]]},{"id":"6f0a6a46.29ac84","type":"inject","z":"cacf5ab.4feb3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":88.83699417114258,"y":1257.3508186340332,"wires":[[]]},{"id":"408ed205.7f743c","type":"function","z":"cacf5ab.4feb3a8","name":"設定RESTful API主機位址","func":"context.flow.RESTfulAddress = context.flow.RESTfulAddress || {};\n\n// 請將RESTful API主機IP取代下方網址中的localhost\ncontext.flow.RESTfulAddress = \"http://60.249.207.238/SyntecCncWebService/CncApi/v2/\";\n\nreturn context.flow;","outputs":1,"noerr":0,"x":388.8369903564453,"y":1078.3508729934692,"wires":[[]]},{"id":"cf413203.cbc0e","type":"inject","z":"cacf5ab.4feb3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":96.83699417114258,"y":1116.350814819336,"wires":[["408ed205.7f743c","2a9739e8.93bea6"]]},{"id":"f583d235.c8481","type":"comment","z":"cacf5ab.4feb3a8","name":"設定區域","info":"將主機的IP輸入下方流程中","x":65,"y":1010,"wires":[]},{"id":"2a9739e8.93bea6","type":"function","z":"cacf5ab.4feb3a8","name":"寫R值共用函式","func":"context.flow.WriteR = function(szCnc, nTarget, szValue){\n    var objWirte = {};\n    \n    objWirte.url = context.flow.RESTfulAddress + szCnc + \"/CNCDIAGNOSIS/\" + nTarget;\n    //objWirte.method = \"POST\";\n    objWirte.headers = {'Content-Type':'application/json'};\n    objWirte.payload = {\n    \t\"Write_Value\":szValue\n    };\n    \n    return objWirte;\n}\n\nreturn context.flow;","outputs":1,"noerr":0,"x":358.8369903564453,"y":1158.3508729934692,"wires":[[]]},{"id":"8a2f1364.56034","type":"http request","z":"cacf5ab.4feb3a8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":448.8369903564453,"y":1258.3508729934692,"wires":[["196dbd57.285fb3"]]},{"id":"f49914cf.58acf8","type":"function","z":"cacf5ab.4feb3a8","name":"","func":"","outputs":1,"noerr":0,"x":452.89453125,"y":879.22265625,"wires":[[]]},{"id":"ffd6018.63119","type":"switch","z":"cacf5ab.4feb3a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":2,"x":850,"y":940,"wires":[["307f727a.f251fe"],[]]},{"id":"c57883d7.6b945","type":"mqtt in","z":"cacf5ab.4feb3a8","name":"","topic":"mislab/mqtt/stdtime","qos":"2","broker":"43e41fec.79bad","x":96,"y":342.00000953674316,"wires":[["a6f235a4.abdcd8"]]},{"id":"718b7c08.bed5d4","type":"debug","z":"cacf5ab.4feb3a8","name":"","active":true,"console":"false","complete":"false","x":318.0833282470703,"y":262.26737213134766,"wires":[]},{"id":"5698b46.46ddf4c","type":"inject","z":"cacf5ab.4feb3a8","name":"","topic":"","payload":"success","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":660,"wires":[["645c92b0.bc55bc","ef3feac3.42a8b8","1163c7b6.080798","537e46c9.019148","7bf84473.dc8b7c"]]},{"id":"ad04d206.9b2f7","type":"function","z":"cacf5ab.4feb3a8","name":"","func":"if (msg.payload.std1===0)\n{\n    msg.payload.std1=0.00001\n    \nreturn  [msg, null];\n    \n}  \nelse\n{\n    msg.payload=msg.payload.std1;\n    return  [null, msg];\n}\n\n","outputs":1,"noerr":0,"x":490.1000633239746,"y":493.40001487731934,"wires":[["9862eb3b.35b618"]]},{"id":"9862eb3b.35b618","type":"debug","z":"cacf5ab.4feb3a8","name":"","active":true,"console":"false","complete":"payload.std1","x":720,"y":457,"wires":[]},{"id":"8c85136d.0e099","type":"change","z":"cacf5ab.4feb3a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":115.07986450195312,"y":253.62152862548828,"wires":[[]]},{"id":"9b5374c2.578298","type":"inject","z":"cacf5ab.4feb3a8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":257.1000061035156,"y":504.20001220703125,"wires":[["ad04d206.9b2f7"]]},{"id":"96a3b49e.d47768","type":"ui_group","z":"","name":"應變訊號分佈圖","tab":"4f8cc41c.2330ac","order":2,"disp":true,"width":"21"},{"id":"473e8dc0.0414b4","type":"ui_group","z":"","name":"機台型號","tab":"4f8cc41c.2330ac","order":1,"disp":true,"width":"4"},{"id":"43e41fec.79bad","type":"mqtt-broker","z":"","broker":"m10.cloudmqtt.com","port":"17423","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4f8cc41c.2330ac","type":"ui_tab","z":"","name":"PythonAuto","icon":"dashboard","order":4}]