3.LNC_CNC/Node-red/Node-red source.txt
[{"id":"aef75341.60d01","type":"ui_template","z":"d998f5b1.cd14f8","group":"bf35119b.c3ec6","name":"Center Image","order":0,"width":"4","height":"4","format":"<img src=\"http://163.18.48.74:8080/?action=stream\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":868,"y":68,"wires":[[]]},{"id":"7dc0fa57.d07494","type":"soap request","z":"d998f5b1.cd14f8","name":"","topic":"","wsdl":"81606f12.7727b","method":"GetPollingData","x":210,"y":140,"wires":[["f97bb1fe.52562"]]},{"id":"9e8d359e.faabf8","type":"inject","z":"d998f5b1.cd14f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":40,"wires":[["7dc0fa57.d07494"]]},{"id":"3ac3fd91.46c302","type":"debug","z":"d998f5b1.cd14f8","name":"All Data","active":true,"console":"false","complete":"payload","x":756,"y":139,"wires":[]},{"id":"f97bb1fe.52562","type":"function","z":"d998f5b1.cd14f8","name":"只取出資料的Data","func":"msg.payload = msg.payload.GetPollingDataResult;\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":139,"wires":[["fc0e6feb.626c6"]]},{"id":"fc0e6feb.626c6","type":"json","z":"d998f5b1.cd14f8","name":"格式化成陣列","pretty":true,"x":556,"y":139,"wires":[["3ac3fd91.46c302","9b307f73.df175","e5da7a52.312e68","8c7ee74.3a20b18","57d9bb2b.532004","9846f7ce.e79478","3e771eca.040ff2","2e1dc1b.99e973e","688b4b6e.93ecc4","962430ee.29655","4fb3acb7.2e8964"]]},{"id":"bf712329.04caf","type":"ui_template","z":"d998f5b1.cd14f8","group":"cf863b6.185a1c8","name":"連線","order":0,"width":"1","height":"2","format":"<font size=3 color=\"white\" align=\"center\">\n    連線\n</font>\n<img src=\"/{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":590,"y":260,"wires":[[]]},{"id":"9b307f73.df175","type":"function","z":"d998f5b1.cd14f8","name":"\"連線成功\"","func":"var s = msg.payload.Data[2].RegisterNote;\nif(s===\"連線成功\")\n    msg.payload = \"green.jpg\";\nelse\n    msg.payload = \"red.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":385.10003662109375,"y":260.60003662109375,"wires":[["bf712329.04caf"]]},{"id":"e5da7a52.312e68","type":"function","z":"d998f5b1.cd14f8","name":"\"警報狀態(Alarm)\"","func":"var s = msg.payload.Data[0].RegisterNote;\nif(s===\"非警報狀態(Alarm)\")\n    msg.payload=\"green.jpg\";\nelse\n    msg.payload=\"red.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":198,"wires":[["b0c4d8c3.ef2ee8"]]},{"id":"b0c4d8c3.ef2ee8","type":"ui_template","z":"d998f5b1.cd14f8","group":"cf863b6.185a1c8","name":"alarm","order":0,"width":"1","height":"2","format":"<font size=3 color=\"white\" align=\"center\">\n    警報\n</font>\n<img src=\"/{{msg.payload}}\" height=160 width=120>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":590,"y":198,"wires":[[]]},{"id":"8c7ee74.3a20b18","type":"function","z":"d998f5b1.cd14f8","name":"\"警告狀態(Warning)\"","func":"var s = msg.payload.Data[1].RegisterData;\nif(s===\"0\")\n    msg.payload = \"green.jpg\";\nelse\n    msg.payload = \"red.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":229,"wires":[["2b825345.de909c"]]},{"id":"2b825345.de909c","type":"ui_template","z":"d998f5b1.cd14f8","group":"cf863b6.185a1c8","name":"Warning","order":0,"width":"1","height":"2","format":"<font size=3 color=\"white\" align=\"center\">\n    警告\n</font>\n<img src=\"/{{msg.payload}}\" height=160 width=120>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":229,"wires":[[]]},{"id":"57d9bb2b.532004","type":"function","z":"d998f5b1.cd14f8","name":"GetProgramName","func":"msg.payload = msg.payload.Data[11].RegisterData;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["a3937b07.8a3798"]]},{"id":"a3937b07.8a3798","type":"ui_template","z":"d998f5b1.cd14f8","group":"4b7681ab.7baaa","name":"Program","order":0,"width":"2","height":"2","format":"<font size=3 color=\"red\" align=\"center\">\n    加工程式:\n</font>\n<font size=2 color=\"white\" align=\"center\">\n    {{msg.payload}}\n</font>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":583,"y":340,"wires":[[]]},{"id":"9846f7ce.e79478","type":"function","z":"d998f5b1.cd14f8","name":"Get_X_Point","func":"var msg;\nmsg.topic = \"x point\";\nmsg.payload= msg.payload.Data[13].RegisterData/1000;\nreturn msg;","outputs":"1","noerr":0,"x":370,"y":400,"wires":[["fcf53922.5d2018"]]},{"id":"fcf53922.5d2018","type":"join","z":"d998f5b1.cd14f8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0","count":"3","x":563,"y":421,"wires":[["db0a2925.c5e228","75930543.3750bc"]]},{"id":"3e771eca.040ff2","type":"function","z":"d998f5b1.cd14f8","name":"Get_Y_Point","func":"var msg;\nmsg.topic = \"y point\";\nmsg.payload= msg.payload.Data[8].RegisterData/1000;\nreturn msg;","outputs":"1","noerr":0,"x":372,"y":431,"wires":[["fcf53922.5d2018"]]},{"id":"962430ee.29655","type":"function","z":"d998f5b1.cd14f8","name":"Get_Z_Point","func":"var msg;\nmsg.topic = \"z point\";\nmsg.payload= msg.payload.Data[9].RegisterData/1000;\nreturn msg;","outputs":"1","noerr":0,"x":372,"y":461,"wires":[["fcf53922.5d2018"]]},{"id":"db0a2925.c5e228","type":"ui_template","z":"d998f5b1.cd14f8","group":"4b7681ab.7baaa","name":"","order":0,"width":"2","height":"2","format":"<table border=\"0\">\n      <tr>\n          <td align=\"left\" width=20>X</td>\n          <td align=\"right\">{{msg.payload[0]}}</td>\n      </tr>\n      <tr>\n          <td align=\"left\" width=20>Y</td>\n          <td align=\"right\">{{msg.payload[1]}}</td>\n      </tr>\n      <tr>\n          <td align=\"left\" width=20>Z</td>\n          <td align=\"right\">{{msg.payload[2]}}</td>\n      </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":759,"y":421,"wires":[[]]},{"id":"2e1dc1b.99e973e","type":"function","z":"d998f5b1.cd14f8","name":"Ger_進給率","func":"var msg;\nmsg.topic = \"speed_ratio\";\nmsg.payload= msg.payload.Data[6].RegisterData/100;\nreturn msg;","outputs":"1","noerr":0,"x":370,"y":520,"wires":[["2445e5bd.35b73a"]],"outputLabels":["[x, y, z]"]},{"id":"2445e5bd.35b73a","type":"ui_gauge","z":"d998f5b1.cd14f8","name":"","group":"4b7681ab.7baaa","order":0,"width":"2","height":"2","gtype":"gage","title":"進給率","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":626,"y":521,"wires":[]},{"id":"688b4b6e.93ecc4","type":"function","z":"d998f5b1.cd14f8","name":"\"工作狀態\"","func":"var s = msg.payload.Data[12].RegisterData;\nif(s===\"0\")\n    msg.payload = \"尚未就緒\";\nelse if(s===\"1\")\n    msg.payload = \"準備就緒\";\nelse if(s===\"2\")\n    msg.payload = \"迴圈加工\";\nelse\n    msg.payload = \"暫停程式\";\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":292,"wires":[["809b8e17.27e1d"]]},{"id":"809b8e17.27e1d","type":"ui_template","z":"d998f5b1.cd14f8","group":"cf863b6.185a1c8","name":"工作狀態","order":0,"width":"3","height":"2","format":"<h2>工作狀態</h2>\n<h4>{{msg.payload}}</h4>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":599,"y":292,"wires":[[]]},{"id":"4fb3acb7.2e8964","type":"function","z":"d998f5b1.cd14f8","name":"Get_快進比","func":"var msg;\nmsg.topic = \"speed_ratio\";\nmsg.payload= msg.payload.Data[7].RegisterData/100;\nreturn msg;","outputs":"1","noerr":0,"x":369,"y":554,"wires":[["f81551fd.541a5"]],"outputLabels":["[x, y, z]"]},{"id":"f81551fd.541a5","type":"ui_gauge","z":"d998f5b1.cd14f8","name":"","group":"4b7681ab.7baaa","order":0,"width":"2","height":"2","gtype":"gage","title":"快進比","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":625,"y":554,"wires":[]},{"id":"bb616f13.8134c","type":"inject","z":"d998f5b1.cd14f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":198,"y":631,"wires":[[]]},{"id":"75930543.3750bc","type":"debug","z":"d998f5b1.cd14f8","name":"","active":true,"console":"false","complete":"true","x":653,"y":467,"wires":[]},{"id":"bf35119b.c3ec6","type":"ui_group","z":"","name":"Center","tab":"dbb270f.3af3b9","order":2,"disp":true,"width":"4"},{"id":"81606f12.7727b","type":"soap-config","z":"","wsdl":"http://127.0.0.1/ReCONShare.asmx","auth":"0","user":"","pass":"","key":"","cert":"","token":""},{"id":"cf863b6.185a1c8","type":"ui_group","z":"","name":"Left","tab":"dbb270f.3af3b9","order":1,"disp":true,"width":"3"},{"id":"4b7681ab.7baaa","type":"ui_group","z":"","name":"Right","tab":"dbb270f.3af3b9","order":3,"disp":true,"width":"4"},{"id":"dbb270f.3af3b9","type":"ui_tab","z":"d998f5b1.cd14f8","name":"Final","icon":"dashboard","order":2}]